/*Set all margins and padding to 0*/
* {
	padding: 0;
	margin: 0;
}

/*Default font and styles for the body*/
body {
	font-family: Roboto, sans-serif;
	font-weight: 300;
}

a, a:hover {
	text-decoration: none !important;
	color: inherit;
}

.bold {
	font-weight: 700;
}

.projects, .skills, .about {
	padding-top: 80px;
	padding-bottom: 80px;
	overflow: hidden;
}

/*Subtitle areas*/
.subtitle {
	font-size: 2.6em;
	font-weight: 700;
}

.subtitle-underline {
	background-color: #007bff;
	height: 2px;
	width: 80px;
	margin: auto;
}

.subtitle-box {
	text-align: center;
	padding-bottom: 80px;
}

.projects .subtitle-box {
	padding-bottom: 0;
}

.tagline {
	font-size: 1.4em;
	margin-top: 20px;
	color: #737373;
}

/*Title section*/
.jumbotron {
	background-attachment: fixed;
	background-image: url('../images/title-background.jpg');
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #0f0f0f;
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 0;
}

.title {
	position: relative;
	background-color: rgba(40, 40, 40, 0.8);
	height: 100vh;
}

.logo {
	width: 50px;
}

.navbar-details {
	opacity: 0;
	transition: opacity 1s;
}

.navbar-name {
	color: white;
	margin: 0;
}

.navbar-title {
	color: #bababa;
	margin: 0;
	font-size: 0.9em;
}

.navbar {
	transition: 1s;
}

.navbar-style {
	background-color: rgba(15, 15, 15, 0.8);
}

.nav-link {
	position: relative;
}

.underline {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	background-color: #007bff;
	height: 2px;
	width: 0;
	transition: width 1s;
	-webkit-transition: width 1s;
}

.navbar a {
	transition: 1s;
	-webkit-transition: 1s;
	color: #dadada;
}

.navbar a:hover {
	color: white;
}

.nav-link:hover .underline {
	width: 100%;
}

.title-info {
	margin: 160px 0;
}

.title-info h1 {
	font-size: 3.2em;
	font-weight: 700;
}

.title-info h2 {
	color: #dadada;
	margin-bottom: 20px; 
}

@media screen and (min-width: 1200px) {
	.title-info h1 {
		font-size: 5.2em;
	}

	.title-info h2 {
		font-size: 3em;
	}

	.chrome-fix {
		width: 250px;
	}
}

.title-info span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
	50% {
	  border-color: transparent;
	}
}

.title-info .btn-contact {
	position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.btn-contact {
	font-size: 1.2em;
	width: 150px;
	padding: 10px;
	color: white;
	background-color: rgba(40, 40, 40, 0);
	border: 3px solid #007bff;
	border-radius: 30px;
	transition: 1s;
	-webkit-transition: 1s;
}

.btn-contact:hover {
	cursor: pointer;
	width: 200px;
	color: white;
	background-color: #007bff;
}

.btn-contact:focus {
	outline: none;
}

.chrome-fix {
	width: 150px;
}

/*Call to arms arena*/
.cta-arena, .cta-github {
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: hidden;
}

.cta-arena {
	background-color: rgb(240, 240, 240);
}

.cta-arena h3 {
	margin: 10px;
}

.cta-arena a {
	font-weight: 700;
	transition: color 0.2s;
}

.cta-arena a:hover {
	color: #7d7d7d;
}

/*Skills section*/
.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}

.owl-carousel .item {
	margin: 6px 10px 32px;
	padding: 12px;
	box-shadow: 2px 2px 8px #ababab;
}

.owl-carousel .item h3 {
	text-align: center;
	font-style: italic;
}

.item-flex {
	display: flex;
	align-items: center;
}

.skill-icon {
	margin-right: 15px;
	width: 25%;
}

.info {
	color: #737373;
	font-size: 0.9em;
	padding: 15px 0;
	width: 75%;
}

.skill-name {
	font-weight: 700;
	color: black;
}

/*Call to arms Github section*/
.cta-github {
	color: #fff;
	background-color: #007bff;
}

.cta-github h3 {
	margin: 10px;
}

.cta-github a {
	color: #dadada;
	font-weight: 700;
	transition: color 0.2s;
}

.cta-github a:hover {
	color: #fff;
}

/*Projects section*/
.projects {
	background-color: rgb(240, 240, 240);
}

.projects-box {
	color: white;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.project-wrapper {
	text-align: center;
	position: relative;
	width: 33.33%;
  width: calc(100% / 3);
	height: 300px;
	overflow: hidden;
}

.project-background {
	width: 100%;
	height: 100%;
	transition: transform 0.3s;
	background-size: cover;
	background-position: center;
}

.project-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.project-wrapper:nth-child(1) .project-background {
	background-image: url('../images/arena.jpg');
}

.project-wrapper:nth-child(1) .project-overlay {
	background-color: rgba(0, 0, 100, 0.8);
}

.project-wrapper:nth-child(2) .project-background {
	background-image: url('../images/memory.jpg');
}

.project-wrapper:nth-child(2) .project-overlay {
	background-color: rgba(0, 100, 0, 0.8);
}

.project-wrapper:nth-child(3) .project-background {
	background-image: url('../images/map.jpg');
}

.project-wrapper:nth-child(3) .project-overlay {
	background-color: rgba(100, 0, 0, 0.8);
}

.project-wrapper:nth-child(4) .project-background {
	background-image: url('../images/beastiary.jpg');
}

.project-wrapper:nth-child(4) .project-overlay {
	background-color: rgba(0, 50, 50, 0.8);
}

.project-wrapper:nth-child(5) .project-background {
	background-image: url('../images/pokemon-by-type.jpg');
}

.project-wrapper:nth-child(5) .project-overlay {
	background-color: rgba(50, 0, 50, 0.8);
}

.project-wrapper:nth-child(6) .project-background {
	background-image: url('../images/noughts.jpg');
}

.project-wrapper:nth-child(6) .project-overlay {
	background-color: rgba(50, 50, 0, 0.8);
}

.project-wrapper h2, .project-wrapper p {
	width: 95%;
	position: absolute;
	top: 50%;
	left: 50%;
}

.project-wrapper h2 {
	transform: translate(-50%, -50%);
	transition: transform 0.8s;
}

.project-wrapper p {
	transform: translate(-50%, 20%) scale(0);
	transition: transform 0.4s;
}

.project-wrapper:hover h2 {
	transform: translate(-50%, -120%);
}

.project-wrapper:hover p {
	transform: translate(-50%, 20%) scale(1);
}

.project-wrapper:hover .project-background {
	transform: scale(1.2);
}

/*About section*/
.about .subtitle {
	color: #fff;
}

.arrow-row {
	color: #fff;
	background-color: #007bff;
	padding-top: 5px;
	padding-bottom: 5px;
}

.arrow-icon:hover {
	color: inherit;
}

footer {
	color: #fff;
	background-color: #0f0f0f;
}

.profile-picture {
	border: 2px solid #4b4b4b;
	width: 80%;
	max-width: 200px;
	margin: auto;
}

.about {
	background-image: url('../images/about-background.jpg');
	background-attachment: fixed;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.about-overlay {
	background-color: rgba(27, 27, 27, 0.9);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.about .row {
	position: relative;
	z-index: 1;
}

.about p {
	color: #cacaca;
}

.service {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	color: #007bff;
}

.service p {
	margin-bottom: 0;
	margin-left: 10px;
}

.bottom-contact {
	margin-top: 80px;
	margin-bottom: 40px;
}

.social-media {
	transition: color 0.2s;
	-webkit-transition: color 0.2s;
}

.social-media:hover {
	color: white;
}

.signature {
	margin-top: 20px;
	font-size: 0.8em;
	text-align: center;
}

/*Responsive design*/
@media screen and (max-width: 768px) {
	.description {
		margin: auto;
		margin-top: 40px;
		width: 80%;
	}
}

@media screen and (max-width: 576px) {
	.about-list {
		margin: auto;
		margin-top: 40px;
		width: 80%;
	}

	.underline {
		left: 0;
		transform: initial;
		-webkit-transform: initial;
	}

	.nav-item {
		max-width: 80px;
	}

	.navbar-details {
		display: none;
	}

	.project-wrapper {
		width: 100%;
	}
}