/*Set all margins and padding to 0*/
* {
  padding: 0;
  margin: 0;
}

/*Default font for the body*/
body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

/*Header/nav bar*/
.logo {
  max-width: 40px;
}

.top-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.nav-item {
  font-size: 1.5em;
  margin: 20px;
}

.nav-item a {
  color: rgb(0, 0, 0);
  transition: border-bottom 0.2s;
}

.nav-item a:hover {
  border-bottom: 4px solid rgb(0, 165, 255);
  text-decoration: none;
}

.projects h2,
.contact h2 {
  font-weight: 700;
  margin: 20px auto;
}

/*Title section*/
.jumbotron {
  background-color: rgb(40, 40, 40);
  margin: 0;
  color: rgb(255, 255, 255);
}

.title h1 {
  font-weight: 700;
  font-size: 4em;
}

.title h2 {
  margin: 0;
  font-weight: 700;
}

/*About section*/
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 40px auto 20px;
  width: 50%;
}

.about p {
  font-size: 1.3em;
  text-align: left;
}

i {
  color: rgb(255, 255, 255);
  transition: transform 0.5s;
}

i:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.4,1.4);
}

.profile-pic {
  max-width: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

/*Projects section*/
.projects {
  padding: 20px;
  background-color: rgb(230, 230, 230);
}

.projects .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  position: relative;
  margin: 20px auto;
  width: 100%;
}

.thumbnail {
  padding: 0;
  width: 100%;
  transition: 0.5s;
}

.view-more {
  color: black;
  background-color: white;
  box-shadow: 1px 1px 2px rgb(80, 80, 80);
  transition: 0.5s;
  position: absolute;
  width: 80%;
  top: 85%;
  right: 0;
  left: 0;
  margin: auto;
  padding: 8px 0;
}

h3 {
	font-size: 1.2em;
}

.project:hover .thumbnail {
  opacity: 0.3;
}

.project:hover .view-more {
  transform: translateY(-60%);
}

/*Contact section*/
input {
  margin-bottom: 20px;
}

form {
  max-width: 60%;
  margin: 20px auto;
}

.social-media {
  max-width: 50px;
  border-radius: 50%;
  transition: transform 0.2s;
}

.social-media:hover {
  transform: scale(1.2,1.2);
}

.btn-submit {
  margin-top: 20px;
  margin-bottom: 40px;
}

/*Footer*/
footer {
  border-top: 1px solid rgb(160, 160, 160);
  margin-top: 20px;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(40, 40, 40);
}