/*Set all margins and padding to 0*/
* {
	padding: 0;
	margin: 0;
}

/*Default font for the body*/
body {
	font-family: Roboto, sans-serif;
	font-weight: 300;
}

/*Header/nav bar*/
.top-nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
}

.nav-item {
	font-size: 1.5em;
	margin: 20px;
}

.nav-item a {
	color: rgb(0, 0, 0);
}

.nav-item a:hover {
	border-bottom: 4px solid rgb(0, 165, 255);
	text-decoration: none;
}

.subtitle {
	font-size: 2.6em;
	font-weight: 700;
	margin: 20px auto;
	border-bottom: 4px solid rgb(120, 120, 120);
	width: 30%;
	min-width: 230px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.subtitle:hover {
	width: 70%;
}

/*Title section*/
.jumbotron {
	background-color: rgb(40, 40, 40);
	margin: 0;
	color: rgb(255, 255, 255);
}

.title h1 {
	font-weight: 700;
	font-size: 4em;
}

.title h2 {
	margin: 0;
	font-weight: 700;
}

/*About section*/
.about {
	margin: 40px auto 20px;
	width: 50%;
	min-width: 300px;
}

.about p {
	font-size: 1.3em;
	text-align: left;
}

i {
	color: rgb(255, 255, 255);
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
}

i:hover {
	color: rgb(255, 255, 255);
	transform: scale(1.4,1.4);
	-webkit-transform: scale(1.4,1.4);
}

.profile-pic {
	max-width: 150px;
	border-radius: 50%;
	margin-bottom: 15px;
}

/*Skills section*/
.skills-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 1000px;
	margin: 20px auto;
}

.logo {
	position: relative;
	width: 35%;
	margin: 20px 10px;
}

.info {
	font-size: 0.9em;
	position: absolute;
	width: 150px;
	top: 10%;
	right: 0;
	left: 0;
	margin: auto;
	z-index: -1;
	opacity: 0;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.skill-icon {
	width: 60%;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

/*Projects section*/
.projects {
	padding: 20px;
	background-color: rgb(240, 240, 240);
}

.flip-container {
	width: 100%;
	margin: 20px auto;
}

.project {
	position: relative;
	height: 100%;
	width: 100%;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
	box-shadow: 2px 2px 8px 2px rgb(140, 140, 140);
}

.project-thumbnail {
	display: block;
	padding: 0;
	width: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	z-index: -1;
}

.view-more {
	background-color: rgb(40, 40, 40);
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	padding: 15px;
	display: none;
}

.tag {
	color: white;
	font-size: 0.9em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	width: 80%;
}

/*Contact section*/
input {
	margin-bottom: 23px;
}

form {
	max-width: 60%;
	margin: 20px auto;
}

textarea {
	resize: none;
}

.social-media {
	max-width: 50px;
	border-radius: 50%;
	transition: transform 0.2s;
	-webkit-transition: transform 0.2s;
}

.social-media:hover {
	transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
}

.btn-submit {
	margin-top: 20px;
	margin-bottom: 40px;
}

/*Footer*/
footer {
	border-top: 1px solid rgb(160, 160, 160);
	margin-top: 20px;
	padding: 10px;
	color: rgb(255, 255, 255);
	background-color: rgb(40, 40, 40);
}

@media screen and (min-width: 700px) {
	.logo {
		width: 25%;
	}
	
	.logo:hover .skill-icon {
		opacity: 0;
	}

	.logo:hover .info {
		opacity: 1;
	}
}

@media screen and (min-width: 768px) {
	.about {
		min-width: 500px;
	}
	
	.flip-container:hover .project {
		transform: rotateY(180deg);
		-webkit-transform: rotateY(180deg);
	}
	
	.view-more {
		display: block;
	}
}