.profile, .skills, .projects, .about {
	padding-top: 100px;
	padding-bottom: 100px;
	overflow: hidden;
	outline: none;
}

// Subtitle
.subtitle-box {
	text-align: center;
	padding-bottom: 80px;
	
	.subtitle-underline {
		background-color: $primary;
		height: 2px;
		width: 80px;
		margin: auto;
	}
}

// Navbar
.navbar {
	transition: 0.4s;

	.navbar-details {
		opacity: 0;
		transition: opacity 1s;

		.navbar-name {
			color: white;
		}
		
		.navbar-title {
			color: #bababa;
			font-size: 0.9em;
		}
	}

	.nav-link {
		cursor: pointer;
		position: relative;
		transition: 1s;
		-webkit-transition: 1s;
	}

	.nav-link:hover .underline {
		width: 100%;
	}

	.underline {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		background-color: $primary;
		height: 2px;
		width: 0;
		transition: width 1s;
		-webkit-transition: width 1s;
	}

	&.navbar-style {
		background-color: change-color($primary, $alpha: 0.8);
	}
}


// Mobile menu
@media screen and (max-width: 576px) {
	.underline {
		left: 0;
		transform: initial;
		-webkit-transform: initial;
	}

	.nav-item {
		max-width: 80px;
	}

	.navbar-details {
		display: none;
	}
}

// Jumbotron
.jumbotron {
	// padding: 6rem 2rem;
	text-align: center;
	height: 100vh;

	.title-info {
		height: 120px;
		margin-bottom: 60px;
	
		h1 {
			font-size: 3.2em;
			font-weight: 700;	
		}

		span {
			border-right: .05em solid;
			animation: caret 1s steps(1) infinite;
		}
	}

	.title-image {
		margin-bottom: 60px;
	}
}

@keyframes caret {
	50% {
	  border-color: transparent;
	}
}


@media screen and (max-width: 575px) {

	.jumbotron {

		.title-info {
			height: 80px;

			h1 {
				font-size: 2rem;;
			}

			h2 {
				font-size: 1.4rem;
			}
		}

		.title-image {
			max-width: 300px;
		}
	}
}

// Profile
.profile {
	padding-bottom: 250px;
}

// Skills
.skills {
	padding-top: 0;
	margin-top: -140px;

	.skill-border {
		border-bottom: 1px solid $border-color;
	}

	ul {
		list-style: none;
		padding-left: 0;
	}

	.cta {
		margin-top: 100px;
	}
}

@media screen and (min-width: 768px) {

	.skills {

		.skill-border {
			border-bottom: none;
			border-right: 1px solid $border-color;
		}
	}
}

// Projects
.projects {

	.project-wrapper {
		text-align: center;
		position: relative;
		height: 300px;
		overflow: hidden;
		margin-bottom: 30px;
		border-radius: 16px;

		.project-background {
			width: 100%;
			height: 100%;
			transition: transform 0.3s;
			background-size: cover;
			background-position: center;
	
			&.one {
				background-image: url('../images/sky.jpg');
			}
			
			&.two {
				background-image: url('../images/vasby.jpg');
			}
			
			&.three {
				background-image: url('../images/w2gw.jpg');
			}
			
			&.four {
				background-image: url('../images/arena.jpg');
			}
			
			&.five {
				background-image: url('../images/beastiary.jpg');
			}
			
			&.six {
				background-image: url('../images/pokeball.png');
			}
		}
	
		.project-overlay {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: change-color($primary, $alpha: 0.8);;
		}

		h2, p {
			color: #fff;
			width: 95%;
			position: absolute;
			top: 50%;
			left: 50%;		
		}

		h2 {
			transform: translate(-50%, -50%);
			transition: transform 0.8s;
		}

		p {
			transform: translate(-50%, 20%) scale(0);
			transition: transform 0.4s;
		}
	}

	.project-wrapper:hover {

		h2 {
			transform: translate(-50%, -120%);
		}

		p {
			transform: translate(-50%, 20%) scale(1);
		}

		.project-background {
			transform: scale(1.2);
		}
	}
}

// About
footer {

	.tag {
		margin: auto;
		max-width: 400px;
	}

	.social-media {
		position: relative;
		color: #fff;
		height: 40px;
		width: 40px;
		border: 2px solid #fff;
		border-radius: 50%;
		transition: 0.2s;

		.centered {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.social-media:hover {
		color: $primary;
		background-color: #fff;
		border-color: $primary;
	}
}
